@charset "utf-8";

html {
    font-size: 90%;
}

option:disabled {
    background: #d0d0d0;
}

.f-s90 {
    font-size: 0.9rem;
}

.f-s20 {
    font-size: 1.5rem;
}

.f-wb {
    font-weight: bold;
}

.m-l20 {
    margin-left: 20px;
}

.m-r5 {
    margin-right: 5px;
}

.m-r10 {
    margin-right: 10px;
}

.f-c1 {
    color: #EF6243;
}

.mb-15 {
    margin-bottom: 15px;
}


.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.mt-15 {
    margin-top: 15px;
}

ul.tagBtn li a {
    letter-spacing: 0.15em;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    color: #fff;
    font-weight: bold;
    display: block;
    height: 125px;
    padding: 15px 20px 15px 10px;
    line-height: 1;
}


ul.tagBtn li:nth-child(2) a {
    height: 100px;
}

ul.tagBtn li:nth-child(3) a {
    height: 135px;
}

.contact_btn {
    background: #35a7a7;
    box-shadow: 0px 2px 0 rgb(43 138 138);
}

.reserve_btn {
    background: #EF6243;
    box-shadow: 0px 2px 0 rgb(190 72 60);
}

.login_btn {
    background: #3E4B5B;
    box-shadow: 0px 2px 0 rgb(36 43 51);
}

header .headerInfo {
    align-items: center;
}

.head-login-btn {
    margin: 0 10px 0 110px;
    border: 1px solid #EF6243;
    border-radius: 50px;
    padding: 5px;
    transition: 0.6s;
    color: #EF6243;
    padding: 10px 30px;
}

.head-login-btn:hover {
    background-color: #EF6243;
    color: #fff;
}

.is-error {
    background: pink;
}

.page-ttl {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 10px;
}

.page-title {
    margin-top: 50px;
}

.page-text {
    text-align: center;
}

.text-box {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.caution-text {
    color: #EF6243;
    font-size: 1.3rem;
    font-weight: bold;
}

.calenderframe {
    margin: 3% 0;
    overflow-x: scroll;
}

.date_calender_wrapper {
    width: 100%;
    overflow-x: scroll;
}

.table-scroll {
    white-space: nowrap;
}


.margin-auto {
    margin: 0 auto;
}

.cell-margin {
    margin-top: 1em;
}

.txtCenter {
    text-align: center;
}

.txtRight {
    text-align: right;
}


.txtLeft {
    text-align: left !important;
}

.section-wrap {
    margin-bottom: 80px;
}


.search_btn {
    background-color: #EF6243;
    border-radius: 2px;
    box-shadow: 0 3px 0 #be483c;
    color: #fff;
    padding: 10px 40px;
    line-height: 1.4;
}

.contents {
    max-width: 1000px;
}

.cart_area {
    color: #EF6243;
    border: 1px solid #EF6243;
    padding: 1em;
    position: absolute;
    top: 160px;
    right: 0;
    font-weight: bold;
    z-index: 99;
}

.cart_area p {
    display: flex;
    align-items: center;
}

.cart_btn {
    font-size: 25px;
    margin-right: 5px;
}


.sub-ttl {
    font-size: 1.6rem;
    line-height: 1.6;
    padding-left: 10px;
    border-left: 8px solid #35A7A7;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}

.sub-ttl::before {
    position: absolute;
    left: -8px;
    bottom: 0;
    content: "";
    width: 8px;
    height: 50%;
    background-color: #CACACA;
}

.confirm-btn {
    min-width: 300px;
    background: #EF6243;
    padding: 0.4em 0em;
    color: #fff;
    box-shadow: 0 3px 0 #BE483C;
    text-align: center;
    border-radius: 2px;
    font-size: 1.4rem;
    display: block;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #BE483C;
}

.checkbox-txt {
    font-size: 1.15rem;
    font-weight: bold;
    margin-right: 0.2em;
}

.form-cell {
    display: flex;
}

.luggage-cell {
    display: flex;
    align-items: center;
}

.luggage-cell p:first-child {
    margin-right: 20px;
}

.luggage-exp {
    border: 1px solid #a6a6a6;
    padding: 15px;
    margin-bottom: 20px;
}

/* .luggage-border {
    border-top: 1px solid #ddd;
    padding-top: 20px;
} */

.luggage-cell input {
    margin: 0 5px;
}


.form-counter {
    display: flex;
    align-items: flex-end;
}

.form-counter span {
    margin-left: 5px;
}

.form-cell2 {
    display: flex;
    margin-bottom: 10px;
}

.form-cell li {
    margin-right: 1em;
}

.form-layout {
    width: 70%;
    margin: 0 auto;
}


.link-btn {
    min-width: 300px;
    background: #3E4B5B;
    padding: 0.4em 0em;
    color: #fff;
    box-shadow: 0 3px 0 #282828;
    text-align: center;
    border-radius: 2px;
    font-size: 1.4rem;
    display: block;
    cursor: pointer;
    line-height: 1.5;
}

.link-btn:hover {
    background-color: #282828;
}

.link-btn2 {
    background: #EF6243;
    padding: 0.3em 5em;
    color: #fff;
    box-shadow: 0 3px 0 #BE483C;
}

.link-btn2:hover {
    background: #BE483C;
}

.link-btn3 {
    min-width: 300px;
    background: #35A7A7;
    padding: 0.3em 0em;
    color: #fff;
    box-shadow: 0 3px 0 #288282;
    text-align: center;
    border-radius: 2px;
    font-size: 1.4rem;
    display: block;
    cursor: pointer;
}

.table-cell {
    width: 150px;
    padding-right: 2em;
}

.postal-p {
    display: inline-block;
    margin-right: 5px;
}

.radio-box li {
    margin-bottom: 0.5em;
}


.radio-box li:first-child {
    display: flex;
}

form table {
    table-layout: fixed;
}


form table td input {
    box-shadow: 0 0 0 #CACACA;
}

form table td textarea {
    box-shadow: 0 0 0 #CACACA;
}

form table td .text6 {
    width: 65%;
}


.table-box {
    width: 90%;
    margin: 0 auto;
}

.table-box th {
    width: 45%;
}

.luggage_space {
    margin-left: 8px;
}

.annotation {
    font-size: 0.5rem;
}


.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.btn-wrapper2 {
    width: 50%;
    margin: 30px auto 80px;
}

.btn-wrapper2 a {
    color: #fff;
}

.btn-wrapper a {
    color: #fff;
}

.borderAttention {
    border: 1px solid #EF6243;
    padding: 1em 2em;
    margin: 1em 0;
}

.form-icon {
    margin-right: 0.2em;
}

.form-cell3 {
    display: flex;
}

.form-cell4 {
    display: flex;
    margin-bottom: 10px;
}

.form-cell4 .text5 {
    width: 80%;
}

.form-cell4 .text4 {
    width: 20%;
}



/* 合計金額 */
.table-sum {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    table-layout: initial;
}

.table-sum th {
    background-color: #F0F0F0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-sum td {
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.table-sum th,
.table-sum td {
    padding: 0.5em 1em;
}

.table-sum thead tr th {
    background-color: #3E4B5B;
    color: #fff;
}

.sum-list li {
    display: flex;
    justify-content: space-between;
}

.sumText {
    font-size: 3rem;
    font-weight: bold;
    color: #EF6243;
}

.table-sum .totalsum-ttl {
    background-color: #35A7A7;
    font-size: 1.2rem;
}

.table-sum .checkbox-txt {
    margin-right: 0;
    font-size: 1.8rem;
}
.table-sum .checkbox-txt span {
    font-size: 0.7em;
    margin: 0 5px;
}

.table-sum .checkbox-txt .sumText {
    font-size: 2rem;
}

.form-input {
    padding: 5px 10px;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 3px #cacaca;
}

.totalsum-table {
    border: 2px solid #3E4B5B;

}

form table th {
    width: 30%;
}


/* カレンダー */
.ui-datepicker-current,
.ui-datepicker-close {
    display: none;
}

.clear-btn {
    border: 1px solid #c5dbec;
    background: #dfeffc url(images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
    color: #2e6e9e;
    border-radius: 5px;
}




/* 確認画面 */
.from-list li {
    margin-bottom: 0.5em;
}

.from-list li p:first-child {
    font-weight: bold;
}

.option-list li p:first-child {
    margin-right: 10px;
}

.option-list li {
    margin-bottom: 10px;
}

.detail-list {
    display: flex;
}

.detail-list dt {
    font-weight: bold;
}

/* カート一覧------------------------------------------------ */
.cart-wrap {
    margin: 0 auto 80px;
    width: 85%;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-header .confirm-btn,
.cart-header .link-btn3 {
    min-width: 160px;
}

.cart-header .link-btn3 {
    margin-left: 0.5em;
}

.cart-header h3 {
    font-size: 1.5rem;
}

.cart-header ul {
    display: flex;
}

header div.contents {
    position: relative;
}

.caution-area {
    background-color: #ffe5e0;
    padding: 1em;
}

.caution-area::after {
    display: none;
}

.cart-addbtn {
    position: fixed;
    bottom: 190px;
    right: 70px;
    z-index: 99;
}

.cart-addbtn .link-btn3 {
    min-width: 150px;
}

.btn-center {
    display: flex;
    justify-content: center;
}

#post_code_search {
    margin: 0;
    font-size: 1rem;
    width: 100px !important;
    padding: 0;
    margin-left: 5px;
}

/* sp時のマイページのボタン */
.sp_login_btn {
    position: fixed;
    display: block;
    width: 100%;
    background-color: #3E4B5B;
    color: #fff;
    padding: 15px;
    text-align: center;
    bottom: 0;
    left: 0;
}




/* スピナー -------------------------------*/
#fullOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, .5);
    z-index: 2147483647;
    display: none;
}

.hide {
    display: none;
}

.spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.loader {
    color: #ffffff;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

}

@-webkit-keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}


.calenderframe iframe {
    height: 500px;
}

.alert-danger {
    text-align: center;
    color: #EF6243;
}

.cart-number-box {
    position: absolute;
    background-color: #EF6243;
    color: #fff;
    border-radius: 50%;
    right: -20px;
    bottom: -13px;
}

.cart-number {
    text-align: center;
    font-size: 15px;
    padding: 5px 15px;
}







@media screen and (max-width: 750px) {
    .cart_area {
        top: 170px;
        right: 30px;
    }
    .cart-header {
        display: block;
    }

    .cart-header ul {
        margin: 0.5em 0;
    }

    .cart-addbtn .link-btn3 {
        min-width: 110px;
        font-size: 1rem;
    }

    .wrapper {
        position: relative;
        /* overflow: inherit; */
        overflow: hidden;
    }

    .page-text {
        text-align: left;
    }

    .table-box {
        width: 100%;
        margin: 0 auto;
    }

    .table-box th {
        width: 100%;
    }

    form table td .text4 {
        width: 60%;
    }

    form table td .text6 {
        width: 100%;
    }

    .selectTime select {
        width: 70px;
    }

    .selectTime {
        display: block;
    }

    .sp {
        display: block;
    }

    .page-text {
        text-align: left;
    }

    .btn-wrapper {
        display: block;
        justify-content: space-between;
    }

    .btn-wrapper li {
        margin-bottom: 2em;
        width: 100%;
    }

    .head-login {
        position: absolute;
        right: 134px;
        top: 18px;
        z-index: 550;
        text-align: center;
        border: 1px solid #EF6243;
        border-radius: 30px;
        padding: 2px 9px 2px 7px;
        font-size: 11px;
        font-weight: bold;
    }

    .head-login a {
        color: #EF6243;
    }

    .head-mail {
        right: 65px;
    }

    header .logo .head_smgaccea {
        font-size: 10px;
    }

    .btn-wrapper2 {
        width: 100%;
    }

    .radio-input+label::before {
        left: 0;
    }

    .radio-input:checked+label::after {
        left: 3px;
    }

    .confirm-btn {
        min-width: 100%;
    }

    .link-btn, .link-btn3 {
        min-width: 100%;
    }

    #top main {
        max-width: 100%;
        padding-top: 20px;
    }

    .calenderframe iframe {
        height: 500px;
    }

    .riyoubi input {
        width: 100%;
    }

    .subNavi ul li {
        width: 33%;
    }

    .sum-list li {
        display: block;
        text-align: left;
    }

    .contents.news {
        margin-top: 175px;
    }

    .form-cell3 {
        display: block;
    }

    .form-cell3 .m-r10 {
        margin-right: 0;
    }

    .form-cell4 {
        /* display: block; */
        margin-bottom: 25px;
    }
    
    /* .form-cell4 .text5 {
        width: 100%;
    } */
    
    .form-cell4 .text4 {
        /* width: 100%; */
        text-align: right;
    }


    .cart-wrap .table-sum {
        table-layout: fixed;
    }
    .cart-wrap {
        width: 100%;
    }

    .table-sum .checkbox-txt {
        font-size: 1.5rem;
    }

    .sumText {
        font-size: 1.8rem;
    }

    .cart-addbtn {
        right: 0;
    }
}
